<!DOCTYPE html>
<html>
<head>
  <!--META-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <title>Bus</title>

  <!--CSS-->
  <link rel="stylesheet" href="https://s.mlcdn.co/animate.css">
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/fonts.css">
  <link rel="stylesheet" type="text/css" href="css/media.css">
  <!--Fontello-->
  <link rel="stylesheet" href="css/animation.css" type="text/css"/>
  <link rel="stylesheet" href="css/fontello.css" type="text/css"/>
  <link rel="stylesheet" href="css/fontello-codes.css" type="text/css"/>
  <link rel="stylesheet" href="css/fontello-embedded.css" type="text/css"/>
  <link rel="stylesheet" href="css/fontello-ie7.css" type="text/css"/>
  <link rel="stylesheet" href="css/fontello-ie7-codes.css" type="text/css"/>

  <!--JS-->
  <!--[if lt IE 9]>
  <script src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/4.0.1/placeholders.min.js"></script>
</head>
<body>
<a name="form"></a>
<a name="out"></a>
<a name="map"></a>
<section id="main">
  <div id="form" class="panel">
    <div class="header-container animated fadeInDown">
      <div id="fromBlock" class="col_name_of_street">
        <i class="icon-location"></i>
        <input id="from" type="text" placeholder="Откуда?" class="name_of_street effect-8"/>
          <span class="focus-border">
            <i></i>
          </span>
      </div>
      <div id="toBlock" class="col_name_of_street">
        <i class="icon-location"></i>
        <input id="to" type="text" placeholder="Куда?" class="name_of_street effect-8"/>
          <span class="focus-border">
            <i></i>
          </span>
      </div>
      <div id="button">
        <button type="button" id="submitButton" disabled class="search">Поиск маршрута</button>
        <a href="#out" id="on-icon-down-big" class="bottom"><i class="icon-down-big"></i></a>
      </div>
    </div>
  </div>


  <div id="out" class="panel">
    <a href="#form" class="top"><i class="icon-up-big"></i></a>
    <a href="#map" class="bottom"><i class="icon-down-big"></i></a>
    <p>
     Go to M bus stop. N bus will arrive within 5 minutes
    </p>
  </div>


  <div id="map" class="panel">
    <a href="#out" class="top"><i class="icon-up-big"></i></a>
    <p>
      In the future there will be a map
    </p>
  </div>
</section>
<script src="js/script.js"></script>
</body>
</html>
